.logo-img{
    width: 80px;
    
}
.nav-link{
    color: navy;
    font-weight: 900;
    font-size: 1.1rem;
}
img{
    width: 100%;
}
.footer{
    background-color: rgb(7, 7, 84);
    padding: 30px 0;
    margin-top: 50px;
}
.socio-link{
    font-size: 2rem;
    
    text-decoration: none;
}
.socio-link:hover{
    color: brown;
}
.col-sm-6{
    color: aliceblue;
}
.zoom:hover{
    transform: scale(1.5);
}
.zoom{
    transition: 0.5s;
}
.col-md-5{
    overflow: hidden;
}